[Unit]
Description=Daily FitBirek dump before Restic

[Timer]
OnCalendar=*-*-* 01:30:00 Europe/Warsaw
Persistent=true

[Install]
WantedBy=timers.target
